#tooltip {
    display: none;
    background-color: black;
    color: antiquewhite;
    font-size: 16px;
    width: 200px;
    height: 20px;
    border-radius: 5px; 
}

#container:hover #tooltip{
    display: block;
}